$base_colour: #004fb0;      // A slightly Greeny Blue
$no_colour: #802020;
$yes_colour: #208020;

body {
    margin: 0;
    background: lighten($base_colour, 50);
}

header {
    padding: 20px;
    text-align: center;
    color: white;
    background: $base_colour;
    margin-bottom: 40px;
}

form#feed {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

th.agg, td.agg, th.action, td.action { text-align: center; }

thead {
    background: darken($base_colour, 15);
    color: lighten($base_colour, 45);
}

tbody {
    background: lighten($base_colour, 45);
    color: darken($base_colour, 20);
}

.yes { color: $yes_colour; }
.no  { color: $no_colour; }
