/*** ARSS Editor ***/

form#update-feed,
form#new-feed {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

td.agg { text-align: center; }
