/***
Palette.

Sky Blue: #13ABAB #4AC5C1
Mid Blue: #2553B6
Green:    #17D023 #54E254
Orange:   #FF831C #C4793E #FFA65F

***/

form#update-feed,
form#new-feed {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}