/***
Palette.

Sky Blue: #13ABAB #4AC5C1
Mid Blue: #2553B6
Green:    #17D023 #54E254
Orange:   #FF831C #C4793E #FFA65F

***/


.container { padding: 10px 15px; }

header { background: #13ABAB; }

header p { 
    font-size: 90%; 
    margin: 0 0 1ex 1em; 
    color: #fff;
}

h1 { font-size: 150%; text-align: center; color: #fff; }
h2 { font-size: 120%; text-align: center; color: #fff; }


/*** Item Articles ***/

article {
    margin-top: 0.5ex;
    background: #2553B6;
    color: #fff;
    padding: 10px;
    overflow: hidden;
}

article h1 { 
    font-size: 120%; 
    color: #FF831C;
    text-align: left;
    margin: 0 0 0.5ex 5em;
}

article a, article a:visited {
    text-decoration: none; 
    color: #FF831C;
}

article a:hover { 
    text-decoration: none; 
    color: #ff831c; 
    text-shadow: 0px -1px 1px #222, 0px 1px 1px #ddd;
}

span.stamp { 
    font-size: 8pt; 
    float: right;
    margin-right: 1em;
    color: #FFA65F; 
}


a.bright-link {
    font-size: 9pt;
    text-decoration: none;
    display: block;
    margin: 2px 0.5em 0 0;
    cursor: pointer;
    padding: 0.5ex 0.5em;
    background: #FF831C;
    color: white;
}

a.bright-link:hover {
    text-decoration: none;
    background: #C4793E;
    cursor: pointer;
}

/*** Feeds panel ***/

div#feeds {
    z-index: 1;
    display: none;
    position: fixed;
    top: 150px;
    left: 300px;
    width: 450px;
    padding: 0 10px 1ex 10px;
    background: #13ABAB;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px rgba( 0, 0, 0, 50%);
}

a.close-button {
    z-index: 2;
	background: url( '../images/close.png' ) no-repeat 0 0;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 46px;
	height: 46px;
    cursor: pointer;
}

a.feed-button {
    width: 350px;
    height: 30px;
    background: #FF831C;
    color: #fff;
    margin: 0.5ex auto;
    line-height: 30px;
    border-radius: 30px 0 30px;
    text-align: center;
    display: block;
}

a.feed-button:hover {
    text-decoration: none;
    background: #C4793E;
}

form#add-feed-form {
    display: none;
    background: white;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
