/***
Palette.

Base:      #1f5000
Left:      #0d832b
Leftest:   #49b665
Right:     #48175d
Rightest:  #400D83

***/

body {
    background: #1f5000;
}

.container { padding: 10px 15px; }

header { background: #0d832b; padding-bottom: 10px; }

header p {
    margin: 0 0 1ex 1em;
    color: white;
}

header img {
    display: block;
    margin: 10px auto;
}

h1 { font-size: 150%; text-align: center; color: #fff; }
h2 { font-size: 120%; text-align: center; color: #fff; }

a.bright-link {
    font-size: 9pt;
    text-decoration: none;
    display: block;
    margin: 2px 0.5em 0 0;
    cursor: pointer;
    padding: 0.5ex 0.5em;
    background: #49b665;
    color: white;
    transition: margin 0.5s, background 0.5s;
}

a.bright-link:hover {
    text-decoration: none;
    background: #1f5000;
    cursor: pointer;
}


/*** Item Articles ***/

article {
    margin-top: 2px;
    background: #0d832b;
    color: #fff;
    padding: 10px;
    overflow: hidden;
}

article h3 {
    font-size: 120%;
    /*color: #c2e380;*/
    text-align: left;
    margin-top: 0;
}

article a, article a:visited {
    text-decoration: none;
    color: #400d83;
    /*text-shadow: 0px -1px 1px #ddd, 0px 1px 1px #222;*/
}

article a:hover {
    text-decoration: none;
    color: #48175d;
    /*text-shadow: 0px -1px 1px #222, 0px 1px 1px #ddd;*/
}


/*** Feeds panel ***/

div#feeds {
    /*z-index: 1;*/
    display: none;
    position: fixed;
    top: 150px;
    left: 300px;
    width: 450px;
    /*padding: 0 10px 1ex 10px;*/
    /*background: #48175d;*/
    /*border: 2px solid white;*/
    /*border-radius: 20px;*/
    box-shadow: 2px 2px 5px rgba( 0, 0, 0, 50%);
}

a#feed-edit {
    margin-top: -6px;
}

a.close-button {
    z-index: 2;
	background: url( '../images/deletebutton.png' ) no-repeat 0 0;
	position: absolute;
	top: -12px;
	right: -12px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

a.feed-button {
    text-decoration: none;
    color: #400d83;
    text-align: center;
}

a.feed-button:hover {
    text-decoration: none;
    color: #1f5000;
}
